.env
state.json
dist/*
server/dist/linux/*
!server/dist/linux/
server/dist/macos/*
!server/dist/macos/
server/dist/win/*
!server/dist/win/
server/dist/js/*
!server/dist/js/
client/SpotifyClient97/bin/
client/SpotifyClient97/obj/
Thumbs.db*
*.user
*.pfx
node_modules/
.vscode/