# client ID from spotify app config page
SPOTIFY_CLIENT_ID=
# client secret from spotify app config page
SPOTIFY_CLIENT_SECRET=
# Listening port
PORT=3000
# MUST MATCH SPOTIFY APP CONFIG PAGE - see readme
REDIRECT=http://localhost:3000/redirect